@font-face {
    font-family: 'daddy_in_space_demoregular';
    src: url('daddyinspacedemo-webfont.woff2') format('woff2'),
         url('daddyinspacedemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
}
.titre {
  text-align: center;
}
.titre h1{
  font-size: 90px !important;
  font-family: daddy_in_space_demoregular;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding-top: 20px;
}
